<header class='flex flex-col gap-y-3'>
  <h1 class='text-xl font-extrabold'>Frontend Mentor Challenges</h1>
  <p>Hello! I am Juan Fernando Ordoñez Martinez.</p>
  <p>
    Here are some solutions of mine for some challenges from <a
      href='https://www.frontendmentor.io/challenges'
      target='_blank'
      class='text-blue-400 hover:text-blue-300 underline'>Frontend Mentor</a
    >.
  </p>
  <div class='flex flex-col sm:flex-row gap-3 [&>a]:transition-colors'>
    <a
      href='https://juan-portfolio-2023.netlify.app/'
      target='_blank'
      class='sm:w-44 text-center p-1 text-gray-100 bg-blue-600 rounded hover:bg-blue-500'
    >
      See My Portfolio
    </a>
    <a
      href='https://github.com/Juancho7/frontend-mentor-challenges-astro'
      target='_blank'
      class='w-full sm:w-44 flex justify-center bg-black-github rounded'
    >
      <img
        src='/svg/github_icon_square.svg'
        alt='GitHub Repository'
        class='w-8'
      />
    </a>
  </div>
</header>

<style>
  .bg-black-github {
    background-color: #050505;
    border: 2px solid #050505;
  }

  .bg-black-github:hover {
    border-color: #161616;
  }
</style>
